{% extends 'layout.html' %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>Document</title>
    {% endblock %}

</head>

<body>
    {% block content %}
    <div class="container">
        <div class="jumbotron" style="background-color: yellowgreen;">
            <h1 style = 'color:green; padding-left: 350px;'>CAR FORM</h1>
            <form method="post">
                {% csrf_token %}
                {{form|crispy}}
                <input type="submit" value="ADD CAR" class="btn btn-success">

            </form>
        </div>
    </div>
    
    {% endblock %}

    
</body>
</html>